<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="MyConection" connectionString="Data Source=DESKTOP-IBKNR1Q\SQLSERVERBANCO;Initial Catalog=BancoAcademia;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
</configuration>